.restaurants__tableDiv {
	overflow: scroll;
	height: 500px;
	color: #6a5d5d;
	background-color: #ffffff;
	margin: 0 auto;
}

.restaurants__tableBody {
	align-items: center;
}

.restaurants__table tr {
	display: flex;
	justify-content: space-between;
}

.restaurants__table td {
	padding: 0.5rem;
}

.restaurants__table tr:nth-of-type(odd) {
	background-color: #f3f2f8;
}
